# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false

# Warehouse Database
WAREHOUSE_DB_HOST=warehouse-db
WAREHOUSE_DB_PORT=5432
WAREHOUSE_DB_USER=warehouse
WAREHOUSE_DB_PASSWORD=warehouse
WAREHOUSE_DB_NAME=stock_warehouse
